Repository nihilok/Verse: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # ESLint for frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Prettier for frontend formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && bunx prettier --write --ignore-unknown "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags in docker-compose
      - id: check-added-large-files
      - id: check-merge-conflict

fix: Add proper TypeScript typing for mock functions
  frontend/src/components/__tests__/TranslationDropdown.test.tsx
Due: eslint, prettier

ci: Add frontend production build check and use prod Docker compose
  .github/workflows/ci.yml
Due: none

fix: Add proper Mock typing to PassageSearch test
  frontend/src/components/__tests__/PassageSearch.test.tsx
Due: eslint, prettier

chore: Exclude test files from TypeScript build
  frontend/tsconfig.json
Due: prettier

refactor: UI overhaul with context extraction, toasts, and better error handling
  backend/app/api/routes.py
  docker-compose.prod.yml
  frontend/bun.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/BibleReader.tsx
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/MainSidebar.tsx
  frontend/src/components/ModalManager.tsx
  frontend/src/components/__tests__/TranslationDropdown.test.tsx
  frontend/src/context/ModalContext.tsx
  frontend/src/context/UIContext.tsx
  frontend/src/index.css
  frontend/src/layouts/RootLayout.tsx
  frontend/src/services/api.ts
Due: eslint, prettier

fix: memoize ModalContext functions to prevent infinite render loop
  frontend/src/context/ModalContext.tsx
Due: eslint, prettier

feat: add rich chapter content retrieval and verse layout options
  backend/app/api/routes.py
  backend/app/clients/bible_client.py
  backend/app/clients/sqlite_bible_client.py
  backend/app/services/bible_service.py
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/BibleReader.tsx
  frontend/src/components/MainSidebar.tsx
  frontend/src/components/UserSettings.tsx
  frontend/src/components/verse/ParagraphLayout.tsx
  frontend/src/components/verse/PoetryVerse.tsx
  frontend/src/components/verse/ProseVerse.tsx
  frontend/src/components/verse/VerseByVerseLayout.tsx
  frontend/src/components/verse/VerseNumber.tsx
  frontend/src/components/verse/index.ts
  frontend/src/components/verse/textUtils.ts
  frontend/src/hooks/useBiblePassage.ts
  frontend/src/index.css
  frontend/src/lib/storage.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: eslint, prettier

docs: add CLAUDE.md with project conventions and deployment notes
  CLAUDE.md
Due: none

feat: token budget with async conversation summarization
  backend/alembic/versions/a3f7c2e9_add_last_message_id_to_conversation_summaries.py
  backend/app/api/routes.py
  backend/app/clients/claude_client.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/models.py
  backend/app/prompts/base_prompts.py
  backend/app/prompts/chat_prompts.py
  backend/app/services/chat_service.py
Due: none

fix: update Haiku model to claude-haiku-4-5-20251001
  backend/app/clients/claude_client.py
Due: none

style: replace triangle pointer with teardrop bubble corners
  frontend/src/App.css
  frontend/src/components/ChatInterface.tsx
Due: eslint, prettier

fix: correct mobile layout so header and bottom nav are always visible
  frontend/src/components/BibleReader.tsx
  frontend/src/layouts/RootLayout.tsx
Due: eslint, prettier

fix: full-screen chat modal on mobile to prevent keyboard overlap
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/ChatModal.tsx
Due: eslint, prettier

fix: use Visual Viewport API for mobile chat height instead of dvh
  frontend/src/components/ChatModal.tsx
Due: eslint, prettier
