Repository nihilok/Verse: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: bash -c 'cd frontend && bun run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && bunx prettier --write --ignore-unknown "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

feat: add textarea for user input for improved experience over single-line input
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/ui/textarea.tsx
Due: eslint, prettier

feat: add mobile-aware keyboard behavior for chat textarea
  frontend/src/components/ChatInterface.tsx
Due: eslint, prettier

feat: add SQLite Bible client with offline database support
  backend/.env.example
  backend/app/clients/helloao_client.py
  backend/app/clients/sqlite_bible_client.py
  backend/app/core/config.py
  backend/app/services/bible_service.py
  backend/download_bible.sh
  backend/pyproject.toml
  backend/tests/test_helloao_text_extraction.py
  backend/tests/test_sqlite_bible_client.py
  backend/uv.lock
Due: none

fix: remove GLW translation and update translation codes
  backend/app/clients/helloao_client.py
  backend/app/clients/sqlite_bible_client.py
  backend/tests/test_sqlite_bible_client.py
  docker-compose.prod.yml
  frontend/src/components/PassageSearch.tsx
Due: eslint, prettier

fix: update code styling to prevent overflow in chat bubbles
  frontend/src/App.css
Due: prettier

feat: add skeleton text to bible reader component
  frontend/src/components/BibleReader.tsx
  frontend/src/components/ui/skeleton.tsx
Due: eslint, prettier

Skip SQLite Bible client tests in CI
  .github/workflows/ci.yml
  backend/pytest.ini
  backend/tests/test_sqlite_bible_client.py
Due: none

Fix pytest.ini syntax for INI format
  backend/pytest.ini
Due: none

Mark SQLite-dependent API tests to skip in CI
  backend/tests/test_api.py
  backend/tests/test_security_headers.py
Due: none

Update docker-compose configurations
  docker-compose.prod.yml
  docker-compose.yml
Due: none

Improve Bible reader skeleton loading layout
  frontend/src/components/BibleReader.tsx
Due: eslint, prettier

Fix message ordering issue by adding explicit timestamps
  backend/app/services/chat_service.py
Due: none

WIP: Add async database infrastructure
  ASYNC_DB_MIGRATION.md
  backend/app/core/database.py
  backend/app/main.py
  backend/app/services/bible_service.py
  backend/pyproject.toml
  migration_checklist.md
Due: none

Add async migration status document
  ASYNC_MIGRATION_STATUS.md
Due: none

Add automatic transaction management to get_db() dependency
  ASYNC_DB_MIGRATION.md
  ASYNC_MIGRATION_STATUS.md
  backend/app/core/database.py
  backend/app/services/bible_service.py
Due: none

Address code review comments
  ASYNC_DB_MIGRATION.md
  ASYNC_MIGRATION_STATUS.md
  backend/app/core/database.py
Due: none

WIP: Add async database infrastructure
  ASYNC_DB_MIGRATION.md
  ASYNC_MIGRATION_STATUS.md
  backend/app/core/database.py
  backend/app/main.py
  backend/app/services/bible_service.py
  backend/pyproject.toml
  migration_checklist.md
Due: none

Convert chat_service and insight_service to async
  backend/app/services/chat_service.py
  backend/app/services/insight_service.py
Due: none

Add test migration documentation
  TEST_MIGRATION_TODO.md
  backend/tests/test_insights.py.bak
Due: none

Add async test fixtures and convert test_insights and test_chat to async
  backend/tests/conftest.py
  backend/tests/test_chat.py
  backend/tests/test_insights.py
Due: none

Convert test_translation_references.py and partial test_user.py to async
  backend/tests/test_translation_references.py
  backend/tests/test_user.py
Due: none

Complete async test migration for all failing tests
  backend/tests/test_device_link.py
  backend/tests/test_user.py
Due: none

fix: Resolve async test failures and update tooling docs
  .github/copilot-instructions.md
  TEST_MIGRATION_TODO.md
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_device_link.py
  backend/tests/test_streaming.py
  backend/tests/test_user.py
  backend/uv.lock
Due: none

fix: Convert service methods to async for remaining test failures
  backend/app/services/device_link_service.py
  backend/app/services/user_service.py
Due: none

feat: Complete async service layer migration (WIP - tests need updating)
  ASYNC_COMPLETION_PLAN.md
  backend/app/api/routes.py
  backend/app/services/definition_service.py
  backend/app/services/device_link_service.py
  backend/app/services/user_service.py
Due: none

Complete async migration - convert all remaining sync tests to async
  ASYNC_COMPLETION_PLAN.md
  ASYNC_MIGRATION_COMPLETE.md
  backend/app/api/routes.py
  backend/app/prompts/chat_prompts.py
  backend/app/services/chat_service.py
  backend/app/services/definition_service.py
  backend/app/services/device_link_service.py
  backend/app/services/rag_service.py
  backend/tests/test_chat.py
  backend/tests/test_definitions.py
  backend/tests/test_device_link.py
  backend/tests/test_user.py
Due: none

Fix streaming tests - add explicit commits in streaming methods
  backend/app/services/chat_service.py
Due: none

Update migration docs - 100% test pass rate achieved
  ASYNC_MIGRATION_COMPLETE.md
Due: none

Clean up async migration planning docs
  ASYNC_COMPLETION_PLAN.md
  ASYNC_DB_MIGRATION.md
  ASYNC_MIGRATION_STATUS.md
  TEST_MIGRATION_TODO.md
  migration_checklist.md
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
