Repository nihilok/Verse: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # ESLint for frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && bun run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Prettier for frontend formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && bunx prettier --write --ignore-unknown "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags in docker-compose
      - id: check-added-large-files
      - id: check-merge-conflict

Fix RAG context by converting sync DB calls to async
  backend/app/services/rag_service.py
Due: none

feat: add 429 error handling in chat and user ID display in settings
  Runfile
  frontend/src/App.tsx
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/ChatModal.tsx
  frontend/src/components/UserSettings.tsx
  frontend/src/components/ui/alert.tsx
Due: eslint, prettier

fix: update test_get_conversation_date for async database operations
  backend/tests/test_rag_service.py
Due: none

feat: add NRSV as supported translation
  .gitignore
  backend/app/clients/sqlite_bible_client.py
  frontend/src/lib/translations.ts
Due: eslint, prettier

feat: prompt users to update PWA when updates available
  .gitignore
  frontend/PWA_SETUP.md
  frontend/src/App.tsx
  frontend/src/components/UpdatePrompt.tsx
  frontend/src/lib/pwa.ts
  frontend/vite.config.ts
Due: eslint, prettier

chore: remove Runfile now in .gitignore
  Runfile
Due: none

refactor: extract App.tsx logic into custom hooks
  frontend/src/App.tsx
  frontend/src/components/ChatHistory.tsx
  frontend/src/components/InsightsHistory.tsx
  frontend/src/hooks/useBiblePassage.ts
  frontend/src/hooks/useChatHistory.ts
  frontend/src/hooks/useDevices.ts
  frontend/src/hooks/useInsightChat.ts
  frontend/src/hooks/useInsightGeneration.ts
  frontend/src/hooks/useInsightsHistory.ts
  frontend/src/hooks/useStandaloneChat.ts
Due: eslint, prettier

ci: add frontend test job to CI workflow
  .github/workflows/ci.yml
Due: none

test: upgrade @testing-library/react for React 19 compatibility
  frontend/bun.lock
  frontend/package.json
  frontend/src/hooks/__tests__/useWakeLock.test.ts
Due: eslint, prettier

feat: add loading skeleton for chat and insights history
  frontend/src/components/ChatHistory.tsx
  frontend/src/components/HistorySkeleton.tsx
  frontend/src/components/InsightsHistory.tsx
  frontend/src/hooks/useChatHistory.ts
  frontend/src/hooks/useDevices.ts
  frontend/src/hooks/useInsightsHistory.ts
Due: eslint, prettier

feat: implement useLoadOnce hook for optimised data loading
  frontend/src/hooks/useChatHistory.ts
  frontend/src/hooks/useDevices.ts
  frontend/src/hooks/useInsightsHistory.ts
  frontend/src/hooks/useLoadOnce.ts
Due: eslint, prettier

feat: implement subscription-based translation access control
  backend/app/api/routes.py
  backend/app/clients/sqlite_bible_client.py
  backend/app/schemas/__init__.py
  backend/app/schemas/translation.py
  backend/app/services/bible_service.py
  backend/app/services/usage_service.py
  backend/manage_pro_users.py
  backend/stamp_initial_migration.py
  backend/tests/test_prompts.py
  backend/tests/test_usage_tracking.py
  frontend/src/App.tsx
  frontend/src/components/PassageSearch.tsx
  frontend/src/components/TranslationDropdown.tsx
  frontend/src/components/UserSettings.tsx
  frontend/src/components/__tests__/TranslationDropdown.test.tsx
  frontend/src/hooks/useWakeLock.ts
  frontend/src/lib/__tests__/passageLinks.test.ts
  frontend/src/lib/__tests__/urlParser.test.ts
  frontend/src/lib/passageLinks.ts
  frontend/src/lib/translations.ts
  frontend/src/lib/urlParser.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: eslint, prettier

fix: use async database session in test override
  backend/tests/conftest.py
Due: none

fix: update deprecated Pydantic and SQLAlchemy APIs
  backend/app/core/config.py
  backend/app/core/database.py
Due: none

chore: update dependencies to latest compatible versions
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lock
  frontend/package.json
Due: prettier

docs: add frontend dependency upgrade plan
  docs/plans/dependency-upgrade-plan.md
  frontend/src/components/SidebarTabWrapper.tsx
Due: eslint, prettier

feat: refactor sidebar components for improved layout and usability
  frontend/src/App.tsx
  frontend/src/components/ChatHistory.tsx
  frontend/src/components/HistorySkeleton.tsx
  frontend/src/components/InsightsHistory.tsx
  frontend/src/components/PassageSearch.tsx
  frontend/src/components/SidebarTabWrapper.tsx
  frontend/src/components/UserSettings.tsx
Due: eslint, prettier

refactor: reorganize Wake Lock settings in UserSettings component
  frontend/src/components/UserSettings.tsx
Due: eslint, prettier

feat: enhance URL handling in App component
  frontend/src/App.tsx
  frontend/src/hooks/useBiblePassage.ts
Due: eslint, prettier

refactor: improve passage context formatting and translation handling
  backend/app/prompts/base_prompts.py
Due: none

style: update card background color in UpdatePrompt component
  frontend/src/components/UpdatePrompt.tsx
Due: eslint, prettier

style: adjust sticky position for improved layout
  frontend/src/index.css
Due: prettier

refactor: simplify tab content structure in App component
  frontend/src/App.tsx
  frontend/src/components/PassageSearch.tsx
  frontend/src/components/SidebarTabContent.tsx
  frontend/src/components/UserSettings.tsx
Due: eslint, prettier

feat: add landing page modal with dismissal option
  frontend/bun.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/LandingPageModal.tsx
  frontend/src/components/ui/checkbox.tsx
Due: eslint, prettier

Add font size settings to sidebar
  frontend/src/App.tsx
  frontend/src/components/BibleReader.tsx
  frontend/src/components/SettingsSection.tsx
  frontend/src/components/SettingsSelect.tsx
  frontend/src/components/UserSettings.tsx
  frontend/src/lib/storage.ts
Due: eslint, prettier

Add font family selection to BibleReader
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/BibleReader.tsx
  frontend/src/components/UserSettings.tsx
  frontend/src/index.css
  frontend/src/lib/storage.ts
Due: eslint, prettier

Fix HTML comment to reflect multiple fonts
  frontend/index.html
Due: none

fix: Upgrade testing stack to support React 19
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/__tests__/TranslationDropdown.test.tsx
  frontend/src/hooks/__tests__/useLoadOnce.test.ts
  frontend/src/hooks/__tests__/useWakeLock.test.ts
  frontend/src/test-setup.ts
  frontend/vite.config.ts
Due: eslint, prettier

fix: Add proper TypeScript typing for mock functions
  frontend/src/components/__tests__/TranslationDropdown.test.tsx
Due: eslint, prettier

chore: Exclude test files from TypeScript build
  frontend/tsconfig.json
Due: prettier
